Repository riadvice/bbbeasy, pull requests merged in 2023-04, with the labels that each got.

#502 Fix delete room
  bbbeasy-frontend/src/components/Rooms.tsx
Labels: component: rooms

#586 Add create room button
  bbbeasy-frontend/src/components/Rooms.tsx
Labels: component: rooms, design: user interface

#592 Update language menu position
  bbbeasy-frontend/src/components/layout/AppHeader.tsx
Labels: type: enhancement, design: user experience, design: user interface, scope: localisation

#593 Adding space to account locked message
  bbbeasy-frontend/src/locale/ar-TN.json
  bbbeasy-frontend/src/locale/en-US.json
  bbbeasy-frontend/src/locale/fr-FR.json
Labels: type: enhancement, design: user experience, design: user interface

#594 Change delete button color
  bbbeasy-frontend/src/App-webapp.css
  bbbeasy-frontend/src/components/Labels.tsx
  bbbeasy-frontend/src/components/Users.tsx
Labels: type: enhancement, component: labels, component: users, design: user experience

#595 Change No Data to No Label in the room page
  bbbeasy-frontend/src/components/AddRoomForm.tsx
  bbbeasy-frontend/src/components/RoomDetails.tsx
  bbbeasy-frontend/src/locale/ar-TN.json
  bbbeasy-frontend/src/locale/en-US.json
  bbbeasy-frontend/src/locale/fr-FR.json
Labels: component: rooms

#602 fix the installer to be able to back to first step && remove the coll…
  bbbeasy-backend/app/src/Actions/Core/Install.php
  bbbeasy-backend/app/src/Enum/Presets/Branding.php
  bbbeasy-frontend/src/App-installer.css
  bbbeasy-frontend/src/components/Install.tsx
Labels: component: install
