Repository riadvice/bbbeasy, pull requests merged in 2023-07, with the labels that each got.

#800 add active/inactive Switch
  bbbeasy-frontend/src/App-installer.css
  bbbeasy-frontend/src/App-webapp.css
  bbbeasy-frontend/src/components/Presets.tsx
  bbbeasy-frontend/src/components/Step3Form.tsx
  bbbeasy-frontend/src/locale/ar-TN.json
  bbbeasy-frontend/src/locale/en-US.json
  bbbeasy-frontend/src/locale/fr-FR.json
Labels: component: configuration, component: presets

#805 Add "Record" from Recording
  bbbeasy-backend/app/src/Enum/Presets/Recording.php
  bbbeasy-backend/app/src/Utils/PresetProcessor.php
  bbbeasy-frontend/src/locale/ar-TN.json
  bbbeasy-frontend/src/locale/en-US.json
  bbbeasy-frontend/src/locale/fr-FR.json
Labels: component: presets, quality control: approved

#809 enabled Layout by default in a BigBlueButton rooms settings page
  bbbeasy-backend/app/src/Models/PresetSetting.php
Labels: component: presets, quality control: approved

#818 select from the 62 available languages of BBB
  bbbeasy-backend/app/src/Enum/Presets/Language.php
  bbbeasy-frontend/src/components/LanguagesBBB.tsx
  bbbeasy-frontend/src/components/Presets.tsx
Labels: component: presets, quality control: approved

#798 Open everyone feature
  bbbeasy-backend/app/src/Actions/Base.php
  bbbeasy-backend/app/src/Actions/Labels/Index.php
  bbbeasy-backend/app/src/Actions/Presets/Index.php
  bbbeasy-backend/app/src/Actions/Recordings/Index.php
  bbbeasy-backend/app/src/Actions/Roles/Collect.php
  bbbeasy-backend/app/src/Actions/Roles/Edit.php
  bbbeasy-backend/app/src/Actions/Roles/Index.php
  bbbeasy-backend/app/src/Actions/Rooms/Edit.php
  bbbeasy-backend/app/src/Actions/Rooms/Start.php
  bbbeasy-backend/app/src/Actions/Rooms/View.php
  bbbeasy-backend/app/src/Actions/Settings/Collect.php
  bbbeasy-backend/app/src/Application/Bootstrap.php
  bbbeasy-backend/app/src/Data/PresetData.php
  bbbeasy-backend/app/src/Models/Role.php
  bbbeasy-backend/app/src/Utils/PresetProcessor.php
  bbbeasy-backend/tests/src/Models/UserTest.php
  bbbeasy-frontend/src/components/RoomDetails.tsx
  bbbeasy-frontend/src/components/RoomPresentations.tsx
  bbbeasy-frontend/src/components/RoomRecordings.tsx
  bbbeasy-frontend/src/locale/ar-TN.json
  bbbeasy-frontend/src/locale/en-US.json
  bbbeasy-frontend/src/locale/fr-FR.json
  bbbeasy-frontend/src/routing/config.tsx
  bbbeasy-frontend/src/services/rooms.service.ts
Labels: component: presets, component: rooms, quality control: approved

#833 Show Screenshare for all presets
  bbbeasy-backend/app/src/Models/Preset.php
  bbbeasy-backend/app/src/Models/PresetSetting.php
Labels: quality control: approved, technical review: approved

#832 Audio preset group
  bbbeasy-backend/app/src/Actions/Core/Install.php
  bbbeasy-backend/app/src/Actions/Rooms/Start.php
  bbbeasy-backend/app/src/Actions/Rooms/View.php
  bbbeasy-backend/app/src/Data/PresetData.php
  bbbeasy-backend/app/src/Enum/Presets/Screenshare.php
  bbbeasy-backend/app/src/Models/PresetSetting.php
  bbbeasy-backend/app/src/Utils/PresetProcessor.php
  bbbeasy-frontend/src/components/Presets.tsx
  bbbeasy-frontend/src/components/RoomDetails.tsx
  bbbeasy-frontend/src/components/Step3Form.tsx
  bbbeasy-frontend/src/locale/ar-TN.json
  bbbeasy-frontend/yarn.lock
Labels: quality control: approved, technical review: approved

#843 validate password in step1 installer
  bbbeasy-backend/app/src/Actions/Core/Install.php
  bbbeasy-backend/app/src/Models/Preset.php
  bbbeasy-backend/app/src/Models/PresetSetting.php
  bbbeasy-frontend/src/components/Install.tsx
Labels: quality control: approved, technical review: approved

#847 Fix the long title of the room
  bbbeasy-frontend/src/App-webapp.css
  bbbeasy-frontend/src/components/Rooms.tsx
Labels: component: rooms, quality control: approved, technical review: approved
