Repository riadvice/bbbeasy, pull requests merged in 2024-12, with the labels that each got.

#1002 fix big blue button params and add translation
  bbbeasy-backend/app/src/Utils/PresetProcessor.php
  bbbeasy-frontend/src/locale/ar-TN.json
Labels: component: bigbluebutton, component: presets

#999 Fix user update
  bbbeasy-frontend/src/components/EditableTableCell.tsx
  bbbeasy-frontend/src/components/Labels.tsx
  bbbeasy-frontend/src/components/Recordings.tsx
  bbbeasy-frontend/src/components/Roles.tsx
  bbbeasy-frontend/src/components/Users.tsx
Labels: component: labels, component: recordings, component: roles, component: users, quality control: approved

#1005 enable some default settings
  bbbeasy-backend/app/src/Models/PresetSetting.php
Labels: component: presets, quality control: approved

#1006 fix some meeting params
  bbbeasy-backend/app/src/Utils/PresetProcessor.php
Labels: quality control: approved, technical review: changes requested
